/* background behind the logo*/
#header {
    background: #5e5e5e;
    border-color: #5e5e5e;
}
#header-wrapper {
    background: #5e5e5e;
    color: #5e5e5e;
    text-align: center;
    border-bottom: 6px solid #5e5e5e;
    padding: 1rem;
}

/* Background color of the menu */
#sidebar {
  background-color: #5e5e5e;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color:  #5e5e5e;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: #0047ff;
}
a:hover {
   color: #2f69ff;
}

p{
    font-size:  1.15rem;
}
